* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
 body {
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
}
 /*Start Styling Header*/
 header {
    width: 100%;
    position: fixed;
    color: #ffffff;
    background-color: #111111;
    text-align: center;
    height: 53px;
    z-index: 1;
}
 header > #menuid {
    background-color: #111111;
    justify-content: center;
}
 header > .menu {
    padding: 0 34px 0 24px;
    font-size: 95%;
    list-style: none;
    display: flex;
}
header > .menu > li >  a {
    display: inline-block;
    padding: 18px 34px 18px 34px;
    text-decoration: none;
    color: #fff;
}
 header > .menu > li > a:hover {
    color: #333333;
}
 .hamburger {
    background-color: #111111;
    display: none;
    color: #fff;
}
 #toggle {
    display: none;
}
 .dropdownContent{
  display: none;
  position: absolute;
  background-color: #111111;
  width: 137.883px;
}

.dropdownContent > ul{
  list-style: none;
}

 .dropdownContent > ul > li > a{
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 18px 34px 18px 34px;
}
 .dropdownContent > ul > li a:hover{
  color: #333333;
}
 .dropdown{
  padding: 18px 34px 18px 34px;
  display: inline-block;
  cursor: pointer;
}
 .fa.fa-caret-down{
  margin-left: 4px;
}
 #dropToggle{
  display: none;
}
 /*End Styling Header*/


 /*Start Styling Homepage*/
 .top_image {
    background-image: url(../img/vogelbloem.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-resolution: 300dpi;
    animation-name: homebannereffect;
    animation-duration: 2.4s;
}
@keyframes homebannereffect {
    0% {opacity: 0;}
    100% {opactity: 1;}
}
 .homepagetitle {
    padding: 130px 20px 20px 20px;
    color: #ffffff;
    text-align: center;
}
 #content {
    flex-wrap: wrap;
}
.content {
    display: flex;
     color: #ffffff;
    margin: 0px;
}
 .column1 {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: inline-block;
}
.column1 > h4 {
    padding: 40px 0 0 0;
}
.column1 > p {
    padding: 10px 40px 40px 40px;
}
 .bottom_image {
    flex-direction: column;
    background-image: url(../img/gecko.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-resolution: 300dpi;
}
 /*End Styling Homepage*/


 /*Start Styling Footer*/
 #footer {
    width: 100%;
    height: 55px;
    color: #fff;
    text-align: center;
    background-color: #111111;
}
.footer_icons > i {
    padding: 16px 34px 0 34px;
    font-size: 22px;
    animation-name: colorfade;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.footer_icons > i:hover {
    color: #333333;
}
@keyframes colorfade {
    0% {color: white}
    25% {color: #202020}
    50% {color: white}
}
 /*End Styling Footer*/







/*start styling about us page*/

.aboutuspagetitle {
    padding: 130px 20px 20px 20px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}
.aboutuscontainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 6%;
}
.aboutusgrid {
    flex-direction: column;
    margin: 8px;
}
.aboutusgriditem {
    display: inline-block;
    margin: 8px;
}
.aboutusgriditem > img {
    position: relative;
    height: 380px;
    width: 600px;
    border-top-left-radius: 0.5%;
    border-top-right-radius: 0.5%;
}
.aboutusgriditem > .aboutustext > div {
    position: relative;
    color: #ffffff;
    height: 380px;
    width: 600px;
    background-color: #202020;
    border-bottom-left-radius: 0.5%;
    border-bottom-right-radius: 0.5%;
}
.aboutusgriditem > .aboutustext > div > h3 {
    padding: 14% 0 0 0;
    color: #7587ec;
}
.aboutusgriditem > .aboutustext > div > p {
    padding: 10px 60px 60px 60px;
}

.aboutusgriditem > .imgsean,
.aboutusgriditem > div > .textsean,
.aboutusgriditem > .imgbilly,
.aboutusgriditem > div > .textbilly {
    animation-name: aboutusslide1;
    animation-duration: 1s;
    }
    @keyframes aboutusslide1 {
        0% {opacity:0; left: -300; top: 0;}
        100% {opactity: 1; left: 0; top: 0;}
    }
.aboutusgriditem > .imglea,
.aboutusgriditem > div > .textlea,
.aboutusgriditem > .imgpatrick,
.aboutusgriditem > div > .textpatrick {
    animation-name: aboutusslide2;
    animation-duration: 1s;
    }
    @keyframes aboutusslide2 {
        0% {opacity:0; left: 300; top: 0;}
        100% {opactity: 1; left: 0; top: 0;}
    }

/*End styling about us page*/







/* start styling for photos page*/

.row {
    padding: 20px;
    text-align: center;
    display: inline;
    justify-content: center;
  }
.photospagetitle {
    padding: 100px 20px 20px 20px;
}
#imgContent {
    padding-bottom: 5%;
    display: block;
}
.galleryItem{
    overflow: hidden;
}
.galleryContainer{
    max-width: 1200px;
    margin: auto;
}
.galleryImg{
    max-width: 100%;
    transition: .5s;
}
.galleryImg:hover{
    transform: scale(1.1);
}
.galleryItem img{
    display: block;
}

/*end of photo page styling*/



/* start of partners page styling*/

.partnersTitle{
  padding: 130px 20px 60px 20px;
  text-align: center;
  color: #ffffff;
}

.partnerContainer{
  max-width: 1600px;
  margin: auto;
  padding-bottom: 160px;
}

.partnerContent{
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cName{
  padding: 20px 0px 20px;
  border-BOTTOM: solid #7587ec 1px;
}

.partnerItem{
    background-color: #202020;
    max-width: 25%;
    margin-top: 2.5%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    border-radius: 0.5%;
  }

.pName{
  padding-top: 20px;
  border-top: solid #7587ec 1px;
}

.partnerItem > p,
.partnerItem > h3 {
  text-align: center;
  word-wrap: break-word;
}

.partnerItem > p {
    font-size: 122%;
}
.partnerItem > p:last-child {
    padding-bottom: 30px;
    font-size: 90%;
}

.partnerItem>img{
  width: 100%;
  position: relative;
  cursor: pointer;
}

.partnerItem>img:hover {
    background-image: #111111;
}

.partnerItem>img:focus{
  animation: moreInfo 1s forwards;
}

.partnerItem>img:focus + .moreinfoText{
  font-size: 100%;
  display: block;
  overflow: hidden;
  animation: moreInfo2 1s forwards;
  animation-delay: 1s;
}

.moreInfoText{
  display:none;
  max-height: 0;
  margin: 80px 0 80px 0;
  padding: 0 14px 0 14px;
}

@keyframes moreInfo{
  0%{opacity: 1;}
  30%{opacity: 0; width: 100%}
  100%{opacity: 0; width: 0%;}
}

@keyframes moreInfo2 {
  0%{max-height: 0;}
  100%{ height: auto; max-height: 100%;}
}



/* end of partners page styling*/


/* Start contact page styling*/

.contactpagetitle {
    padding: 130px 20px 60px 20px;
    text-align: center;
    color: #ffffff;
}
#contactpage {
    color: #fff;
}

.contactformwrapper {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    animation-name: formslide;
    animation-duration: 1s;
    position: relative;
}
@keyframes formslide {
    0% {opacity:0; left: -300; top: 0;}
    100% {opactity: 1; left: 0; top: 0;}
}
.form {
    margin-bottom: 120px;
}
form {
    padding: 40px 16px 40px 16px;
}
form > div > label {
    float: left;
    padding: 24px 20px 20px 10px;
}
form > div > input,
form > div > textarea,
form > div > button {
    border-radius: 0.7%;
    font-family: 'Ubuntu', sans-serif;
    width: 550px;
    color: #ffffff;
    background-color: #202020;
    float: right;
    padding: 14px 18px 14px 18px;
    margin: 10px;
    height: auto;
}
form > div > textarea {
    resize: none;
    font-size: 86%;
    max-width: 550px;
    min-width: 550px;
    min-height: 240px;
    max-height: 240px;
}
form > div > button {
    color: #7587ec;
    background: #202020;
}
form > div > button:hover {
    background: #111111;
}
form > div > button > p{
    font-size: 120%;
    padding: -50px;
}
.contacttablewrapper {
    display: inline-flex;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: #111111   ;
    margin-top: 30px;
}
table {
    color: #fff;
    padding: 40px 10px 60px 10px;
}
table > thead > tr > th,
table > tbody > tr > td {
    text-align: left;
    padding: 2px 26px 2px 26px;
}
thead> tr > th {
    padding-top: 20px;
}
thead > tr > th:first-child {
    color: #7587ec;
}
tbody > tr > td:first-child {
    color: #7587ec;
}

/*end of contact page styling*/

/* start videos page styling*/

.videoContent{
  padding-top: 53px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;

  scroll-snap-type: y mandatory;

  /* firefox support */
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% -53px;

  /* edge and IE support */
  -ms-scroll-snap-points-y: repeat(100%);
  -ms-scroll-snap-type: mandatory;
  -ms-scroll-snap-destination: 100% -53px;
}

.videoItem{
  scroll-snap-align: start;
  height: 100vh;
  color: white;
}

.videoItem > video{
  height: 100%;
  width: 100%;
}

/*end of videos page styling*/




/* styling voor mobile */

@media screen and (min-width: 600px){
  .gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (min-width: 801px){
  #dropToggle:checked + .dropdownContent{
   display: block;
 }
}

@media screen and (min-width: 920px){
  .galleryItem{
    width: calc(100% / 3);
  }
}

@media only screen and (max-width: 920px) {
  .content {
        display: block;
        text-align: center;
  }
  .galleryItem{
    width: calc(100% / 2);
  }
}

@media only screen and (max-width: 800px) {
    .homepagetitle {
        font-size: 2.2em;
    }
    .photospagetitle{
        font-size: 2.2em;
        padding-top: 20px;
    }
    .aboutuspagetitle {
        font-size: 2.2em;
    }

    #imgContent{
      padding-top: 20%;
      padding-bottom: 0;
    }

    .aboutusgriditem {
        margin-bottom: 40px;
    }

    .contacttablewrapper {
        margin-top: 0;
    }
    form > div > input,
    form > div > textarea,
    form > div > button {
        width: 200px;

    }
    form > div > textarea {
        max-width: 200px;
        min-width: 200px;
    }
    .contacttablewrapper {
        margin-top: 0;
    }
    table {
        padding: 120px 0 60px 0;
    }
    table > thead {
        display: none;
    }
    table > tbody > tr > td {
        display: block;
        text-align: right;
        padding: 2px 6px 2px 6px;
    }
    table > tbody > tr > td:last-child {
        padding-bottom: 80px;
        font-size: auto;
    }
    table > tbody > tr > td:first-child {
        padding-bottom: 20px;
        font-size: auto;
    }
    table > tbody > tr > td[data-title]:before {
        content: attr(data-title);
        float: left;
        padding-right: 90px;
    }

    header {
        height: 60px;
    }
    .hamburger {
        float: left;
        padding: 1px 0 0 0;
        padding-left: 2%;
        padding-right: 500px;
        display: block;
        cursor: pointer;
        font-size: 2.5em;
    }
    header > .menu {
        float: none;
        display: none;
        width: 100vw;
        height: 100vh;
        font-size: 1.25em;
        padding: 0;
    }
    header > .menu a {
        display: block;
    }
    header > .menu > li{
      height: 15%;
      list-style: none;
    }
    header > .menu > li > a{
      width: 100%;
      height: 100%;
      padding: 0;
      padding-top: 8%;
    }

    #toggle:checked + .menu{
        display: inline-block;
    }

    #footer {
        height: 60px;
    }
    .footer_icons > i{
        font-size: 26px;
    }

    .dropdownContent{
      display: contents;
    }

    .dropdownContent > ul > li{
      height: 15%;
    }

    .dropdownContent > ul > li > a{
      height: 100%;
      padding: 0;
      padding-top: 8%;
    }

    #dropli{
      height: auto;
    }

    .dropdown{
      display: none;
    }

    .partnerItem{
      max-width: 50%;
      margin: auto;
      margin-bottom: 2.5%;
    }

    .partnerContent{
      flex-direction: column;
    }

}


@media only screen and (max-width: 600px) {

    .aboutusgriditem > img {
        height: auto;
        width: 100%;
    }
    .aboutusgriditem > .aboutustext > div {
        color: #ffffff;
        height: auto;
        width: 100%;
    }

   #imgContent{
      padding-top: 12%;
    }

    .homepagetitle {
        font-size: 2.3em;
    }
    .photospagetitle{
      font-size: 2.3em;
    }
    .homepagetitle {
        font-size: 2.3em;
    }

    .galleryItem{
      width: 100%;
    }

    .hamburger {
        float: left;
        padding-left: 20px;
        padding-right: 300px;
    }

    .footer_icons > i{
        font-size: 30px;
        padding: 16px 10px 16px 10px;
    }

    .partnerItem{
      max-width: 80%;
    }
}

@media only screen and (max-width: 420px) {

    table > tbody > tr > td[data-title]:before {
        padding-right: 10px;
    }
    .contactformwrapper {
        display: flex;
    }
    form > div > label {
        text-align: center;
        display: block;
        float: none;

    }
    form > div > input,
    form > div > textarea {
        float: none;
    }
}
