* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

#header {
    width: 100%;
    height: 50px;
    position: fixed;
}
header > .nav {
    color: #ffffff;
    background-color: #111111;
    list-style: none;
    text-align: center;
    padding: 18px 0 18px 0;
    font-size: 15px;
}
    header > .nav >  li {
        display: inline-block;
        padding: 0 34px 0 34px;
    }
    header > .nav >  li  a {
        text-decoration: none;
        color: #fff;
    }
    header > .nav >  li  a:hover {
        color: #333333;
    }
    label {

        line-height: 70px;
        color: #ffffff;
        display: none;
    }
    #mobilemenu {
      display: none;
    }


.top_image {
    background-image: url(../img/vogelbloem.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-resolution: 300dpi;
}
    .top_image > h1 {
    padding: 130px 20px 0 20px;
    color: #ffffff;
    text-align: center;
    }

#content {
  flex-wrap: wrap;
}
.content {
    display: flex;
    flex-direction: row;
    /*background-color: #995025;*/
    background-color: #111111;
    color: #ffffff;
    margin: 0px;
}

.column1 {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: block;
}
    .column1 > h4 {
        padding: 40px 0 0 0;
    }
    .column1 > p {
        padding: 10px 40px 40px 40px;
    }

.column2 {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: inline-block;
}
    .column2 > h4 {
        padding: 40px 0 0 0;
    }
    .column2 > p {
        padding: 10px 40px 40px 40px;
    }

.column3 {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: inline-block;
}
    .column3 > h4 {
        padding: 40px 0 0 0;
    }
    .column3 > p {
        padding: 10px 40px 40px 40px;
    }

.bottom_image {
    flex-direction: column;
    background-image: url(../img/gecko.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-resolution: 300dpi;
}

#footer {
    width: 100%;
    height: 55px;
    color: #fff;
    text-align: center;
    background-color: #111111;
    /*position: fixed;
    bottom: 0;*/
}
    .footer_icons > i {
        padding: 16px 34px 0 34px;
        font-size: 20px;
    }
    .footer_icons > i:hover {
        color: #333333;
    }

@media only screen and (max-width: 860px) {
  .content {
    display: block;

  }
}

@@media only screen and (max-width: 500px) {
  label {
    display: block;
  }

  header > .nav {
    display: block;
  }
}

}
