* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    width: 100%;
    position: fixed;
    color: #ffffff;
    background-color: #111111;
    text-align: center;
    height: 53px;
}

header > #menuid {
    background-color: #111111;
    justify-content: center;
    margin-right: 40px;
}

header > .menu {
    padding: 0 34px 0 24px; 
    font-size: 95%;
    list-style: none;
    display: flex;
}
header > .menu > li >  a {
    width: 100%;
    display: inline-block;
    padding: 18px 34px 18px 34px;
    text-decoration: none;
    color: #fff;
}

header > .menu > li > a:hover {
    color: #333333;
}

.hamburger {
    background-color: #111111;
    display: none;
}

#toggle {
    display: none;
}


.top_image {
    background-image: url(../img/vogelbloem.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-resolution: 300dpi;
}
    .top_image > h1 {
    padding: 130px 20px 20px 20px;
    color: #ffffff;
    text-align: center;
    }

#content {
    flex-wrap: wrap;
}
.content {
    display: flex;
    flex-direction: row;
    /*background-color: #995025;*/
    background-color: #111111;
    color: #ffffff;
    margin: 0px;
}

.column1 {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: block;
}
.column1 > h4 {
    padding: 40px 0 0 0;
}
.column1 > p {
    padding: 10px 40px 40px 40px;
}

.column2 {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: inline-block;
}
.column2 > h4 {
    padding: 40px 0 0 0;
}
.column2 > p {
    padding: 10px 40px 40px 40px;
}

.column3 {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: inline-block;
}
.column3 > h4 {
    padding: 40px 0 0 0;
}
.column3 > p {
    padding: 10px 40px 40px 40px;
}

.bottom_image {
    flex-direction: column;
    background-image: url(../img/gecko.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-resolution: 300dpi;
}

#footer {
    width: 100%;
    height: 55px;
    color: #fff;
    text-align: center;
    background-color: #111111;
    /*position: fixed;
    bottom: 0;*/
}
.footer_icons > i {
    padding: 16px 34px 0 34px;
    font-size: 22px;
}
.footer_icons > i:hover {
    color: #333333;
}


@media only screen and (max-width: 920px) {

    
.content {
      display: block;
}

/* styling voor mobile */

@media only screen and (max-width: 800px) {

    header {
        height: 60px;
    }
    
    .hamburger {
        float: left;
        padding: 1px 0 0 0;
        padding-left: 2%;
        display: block;
        cursor: pointer;
        font-size: 2.5em;
    }

    #firstlink {
        padding-top: 6%;
    }

    header > .menu {
        float: none;
        display: none;
        width: 100vw;
        height: 100vh;
        font-size: 1.25em;
        padding: 0;
    }

    header > .menu a {
        display: block;
    }

    header > .menu > li{
      height: 15%;
      list-style: none;
    }

    header > .menu > li > a{
      width: 100%;
      height: 100%;
      padding: 0;
    }

    #toggle:checked + .menu{
        display: inline-block;
    }

    #footer {
        height: 60px;
    }

    .footer_icons > i{
        font-size: 26px;
    }

}


@media only screen and (max-width: 600px) {

header {
    height: 88px;
}

.hamburger {
    float: left;
    padding: 16px 0 0 0;
    padding-left: 4%;
}

#footer {
    height: 90px;
}

.footer_icons > i{
    font-size: 30px;
    padding: 28px 10px 18px 10px;
}

}
